# 01. Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
# creating folder path as 'path'
path = r'C:\Users\mojis\Documents\09-2022-Instacart Basket Analysis(Task 4 careerfoundary)'

In [3]:
# Importing df_ords_prior data frame
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data','original data(raw)','order_products_prior.csv'), index_col = False)

In [4]:
# creating a var list as my order dataframe as two unnamed index columns.
ords_vars_list = ['order_id','user_id', 'order_number', 'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order']

In [5]:
# Importing the cleaned order dataframe version as df_ords
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data(cleaned)', 'orders_checked.csv'), usecols = ords_vars_list)

# 03. Checking dataframe output

In [6]:
# df_ords_prior output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
#df_ords output
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# 04. Dimensions of both dataframes

In [8]:
#checking the dimension of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [9]:
#checking the dimension of df_ords
df_ords.shape

(3421083, 6)

# 05. Merging process

In [10]:
# Merging df_ords_prior to df_ords using order_id
df_merge_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
# checking output
df_merge_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
#checking the dimension of the merge data
df_merge_large.shape

(32434489, 10)

In [13]:
# checking if all is full match
df_merge_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
df_merge_large.to_pickle(os.path.join(path,'02 Data', 'Prepared Data(cleaned)','orders_products_combined.pkl'))